
* {
	 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased

}

body {
	background-color: #eceef1;
	padding-top: 45px;
	padding-bottom: 45px;
	color: #383939;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
}

.main {
	max-width: 780px;
	min-height: 900px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	padding: 0;
	margin: 0 auto;
}

.intro {
	height: 180px;
}
.content {
	border-top: 2px solid #eceef1;
	padding: 30px;
}
.btn {
	background: linear-gradient(#00ac14,#008e10);
	color: white;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
	font-size: 16px;
	padding: 12px 20px;
}

a {
	text-decoration: none;
}
li {
	padding-top: 6px;
}
span {
	font-weight: bold;
}
img {
	display: inline-block;
	padding: 32px 26px;
}